.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap; /* Ensure items wrap to the next line if needed */
  max-width: 100%; /* Prevent the container from exceeding the viewport width */
  overflow-x: hidden; /* Prevent horizontal overflow */
  padding: 0 10px; /* Add some padding to avoid content touching screen edges */
  box-sizing: border-box; /* Include padding in width calculations */
}

.pagination-btn {
  font-size: 1rem;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  background-color: grey !important;
}

.pagination-btn:hover {
  background-color: #007bff !important;
  color: white;
}

.pagination-btn:disabled {
  background-color: #ccc !important;
  cursor: not-allowed;
}

.page-number {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.page-item {
  cursor: pointer;
}

.input-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.input-container input {
  width: 70px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-right: 10px;
  text-align: center;
}

.input-container button {
  padding: 5px 15px;
  font-size: 1rem;
  background-color: #2575fc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-container button:hover {
  background-color: #1e63d0;
}

.input-container input:focus {
  outline: none;
  border-color: #2575fc;
}

/* Media Queries */
@media (max-width: 768px) {
  /* .pagination-container {
    flex-direction: column;
    align-items: center;
    padding: 0; 
  } */

  .pagination-btn {
    padding: 6px 12px;
    font-size: 0.9rem;
    margin: 5px 0; /* Adjust spacing for smaller screens */
  }

  .page-number {
    margin: 10px 0;
  }

  .input-container {
    margin-top: 10px;
    flex-wrap: wrap; /* Allow wrapping of input and button */
    justify-content: center;
  }

  .input-container input {
    width: 60px;
  }

  .input-container button {
    padding: 5px 10px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  /* .pagination-container {
    flex-direction: column;
    align-items: center;
    padding: 0; 
  } */

  .pagination-btn {
    padding: 3px 6px;
    font-size: 0.6rem;
  }

  .page-number {
    font-size: 0.9rem;
  }

  .input-container input {
    width: 40px;
  }

  .input-container button {
    padding: 5px 10px;
    font-size: 0.8rem;
  }
}
